#fxMainBox
{
    float: right;
    width: 83%;
    height: 100%;
    padding-left: 1%;
    color: goldenrod;
    font-size: 100%;
}

#fxMessagesBox
{
    width: 83%;
    height: 60%;
    background-color: black;
    color: goldenrod;
}

#fxMessageArea
{
    width: 83%;
    height: 20%;
    background-color: black;
    color: goldenrod;
}

#fxSendBtn
{
    width: 83%;
}