#fxBody
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fxTitle
{

}

#fxTestBtn1
{

}

#fxTestBtn2
{

}

#fxTestBtn3
{

}

#fxTestBtn4
{

}

#fxLoginPasswordArea
{
    width: 100px;
    margin-top: 25%;
    margin-left: 40%;
}

#fxLoginArea
{
    margin-bottom: 10%;
}

#fxPasswordArea
{
    margin-bottom: 10%;
}

#fxLoginInBtn
{

}