#fxBody
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: black;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#fxTitle
{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(darkred), to(black));;
    color: goldenrod;
    width: 100%;
    height: 8%;
}

#fxNameOfSite
{
    float: left;
    margin-top: 0.5%;
    margin-bottom: 0;
    margin-left: 5%;
    padding: 0;
}

#fxLoginPasswordArea
{
    float: left;
    width: 20%;
    margin-left: 50%;
}

#fxLoginInp
{
    margin-bottom: 3%;
    background-color: darkred;
    color: goldenrod;
}

#fxPasswordInp
{
    background-color: black;
    color: goldenrod;
}

#fxAuthorizationBtn
{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(darkred), to(black));
    color: goldenrod;
    font-size: 120%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

#fxAboutTextArea
{
    color: goldenrod;
    width: 30%;
    margin-top: 10%;
    margin-left: 3%;
}

#fxRegistrationBtn
{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(darkred), to(black));
    color: goldenrod;
    font-size: 120%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 25%;
}